<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-default">
            <div class="box-body">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Home</h1>
                    <p>You're logged in with JWT!!</p>
                    <div>
                        Users from secure api end point:
                        <!--<ul>
            <li *ngFor="let user of users">{{user.username}} {{user.lastName}}</li>
        </ul>-->
                        <h1>{{user.username}}</h1>
                    </div>
                    <p><a [routerLink]="['/login']">Logout</a></p>
                </div>
            </div>
        </div>
        <div class="box box-default">
            <div class="box-body">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Home</h1>
                    <p>You're logged in with JWT!!</p>
                    <div>
                        Users from secure api end point:
                        <!--<ul>
            <li *ngFor="let user of users">{{user.username}} {{user.lastName}}</li>
        </ul>-->
                        <h1>{{user.username}}</h1>
                    </div>
                    <p><a [routerLink]="['/login']">Logout</a></p>
                </div>
            </div>
        </div>

        <div class="box box-default">
            <div class="box-body">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Home</h1>
                    <p>You're logged in with JWT!!</p>
                    <div>
                        Users from secure api end point:
                        <!--<ul>
            <li *ngFor="let user of users">{{user.username}} {{user.lastName}}</li>
        </ul>-->
                        <h1>{{user.username}}</h1>
                    </div>
                    <p><a [routerLink]="['/login']">Logout</a></p>
                </div>
            </div>
        </div>
    </section>
</div>